{% extends "layout.html" %}


{% block title %} About Me {% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/links.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">

<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock %}


{% block body %}

<div class="padding">
    <h2>About Me</h2>

    <main>
        <div id="about-me">
            <p>
                I'm a UCLA Computer Science student fascinated by everything related to databases and distributed systems. I have strong experience working with a variety of database technologies as well as research experience and graduate-level coursework relating to generative AI, LLMs, and computer vision
            </p>
            <p>
                Strongest Skills:
            </p>
                <ul>
                    <li>Python, C++, Go, SQL (Postgres), Bash</li>
                    {# <li>PyTorch, Pandas, NumPy, Sklearn</li> #}
                </ul>
            </p>
                Interests:
            </p>
            <ul>
                <li>Databases</li>
                <li>Distributed Systems</li>
                <li>Machine Learning</li>
            </ul>

            <br>

            <h2>Contact Info</h2>
            <h5>Email:
                <a href="mailto:petern0408@gmail.com" onclick="copyToClipboard('email')" id="email">petern0408@gmail.com</a>
            </h5>
            <br>
            <h5>Phone Number:
                <a href="" onclick="copyToClipboard('phone')" id="phone">619-627-8054</a>
            </h5>
            <br>
            <h5>LinkedIn:
                <a href="https://www.linkedin.com/in/peter-nguyen8/" target="_blank" rel="noopener noreferrer">linkedin.com/in/peter-nguyen8</a>
            </h5>
            <br>
            <h5>GitHub:
                <a href="https://github.com/petern48" target="_blank" rel="noopener noreferrer">github.com/petern48</a>
            </h5>
            <br>
            <h5>Location: San Diego, California</h5>
    </main>
    
</div>

{% endblock %}