{% extends "layout.html" %}


{% block title %} Hobbies {% endblock %}


{% block body %}

<div class="padding">

    <h1>Hobbies and Interests</h1>
    <br>
    <div class="row">
        <div class="column">
            <h4 class="center">Weightlifting &#127947;</h4>
            <p>PRs:</p>
            <ul>
                <li>Bench: 195 lb</li>
                <li>Squat: 285 lb</li>
                <li>Deadlift: 375 lb</li>
            </ul>
            <br>

        </div>
        <div class="column">
            <h4 class="center">Wrestling and Brazilian Jiu Jitsu &#129340;</h4>
            <p>High School</p>
            <ul>
                <li>Varsity Captain</li>
                <li>Multiple time CIF placer (3rd and 5th)</li>
                <li>City Champion</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <!-- <div class="column">
            <h4 class="center">Cooking &#127859;</h4>
        </div> -->
        <div class="column">
            <h4 class="center">Gymnastics &#129336</h4>
            <ul>
                <li>Learned to backflip</li>
            </ul>
        </div>
        <div class="column">
            <h4 class="center">Guitar &#127928;</h4>
        </div>
    </div>
</div>

{% endblock %}