{% extends "layout.html" %}


{% block title %} Home {% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/links.css') }}">
{% endblock %}


{% block body %}

<div class="padding">

    <img id='profile-img' class="center" src="static/images/profile_picture.jpg" alt="Profile Picture">
    <br>
    <h2 class="center">News</h2>
    <br>
    <main>
      <div id="news">
        <p>
          June 2023 - Started a position as a AI Research Intern at <a href="https://www.crosslabs.org/">Cross Labs</a>.
        </p>
        <p>
          November 2023 - Started a position as an Undergraduate Researcher at <a href="https://scai.cs.ucla.edu/">Scalable Analytics Institute</a>
        </p>
      </div>
    </main>
</div>

{% endblock %}