{% extends "layout.html" %}


{% block title %} Home {% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/links.css') }}">
{% endblock %}


{% block body %}

<div class="padding">

    <img id='profile-img' class="center" src="static/images/profile_picture.jpg" alt="Profile Picture">
    <br>
    <h2 class="center">News</h2>
    <br>
    <main>
      <div id="news">
        <p>
          April 2024 - My research paper, <a href="https://link.springer.com/chapter/10.1007/978-3-031-56992-0_19">AI-Driven Meditation: Personalization for Inner Peace</a>, is now published by Springer as part of the EvoMUSART 2024 conference and is available to be viewed.
          <br/>
          Nguyen, P., Fdez, J., Witkowski, O. (2024). AI-Driven Meditation: Personalization for Inner Peace. In: Johnson, C., Rebelo, S.M., Santos, I. (eds) Artificial Intelligence in Music, Sound, Art and Design. EvoMUSART 2024. Lecture Notes in Computer Science, vol 14633. Springer, Cham. https://doi.org/10.1007/978-3-031-56992-0_19
        </p>
        <p>
          January 2024 - I began working on a project involving classifying protein properties using Graph Neural Networks as an Undergraduate Researcher at <a href="https://scai.cs.ucla.edu/">Scalable Analytics Institute</a>
        </p>
        <p>
          January 2024 - I won 2nd place in a hackathon for training a DNA machine learning model. The code can be found on my GitHub here: <a href="https://github.com/petern48/dna-ml-model">dna-ml-model</a>
        </p>
        {#  <p>January 2024 - My Cross Labs research paper was accepted to the upcoming <a href="https://www.evostar.org/2024/evomusart/">EvoMUSART 2024 Conference</a> (international AI Art Conference). </p>  #}
        {#  <p>December 2023 - A summarized blog version of the research paper I wrote while working under Cross Labs is now available on their website. <a href="https://www.crosslabs.org/blog/ai-driven-meditation-personalization-for-inner-peace">AI Driven Meditation: Personalization for Inner Peace</a></p> #}
        <p>
          November 2023 - I started working on a Multimodal LLM project as an Undergraduate Researcher at <a href="https://scai.cs.ucla.edu/">Scalable Analytics Institute</a>.
        </p>
        <p>
          June 2023 - I started a position as an AI Research Intern at <a href="https://www.crosslabs.org/">Cross Labs</a>.
        </p>
      </div>
    </main>
</div>

{% endblock %}