{% extends "layout.html" %}


{% block title %} Home {% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/links.css') }}">
{% endblock %}


{% block body %}

<div class="padding">

    <img id='profile-img' class="center" src="static/images/profile_picture.jpg" alt="Profile Picture">
    <br>
    <h2 class="center">News</h2>
    <br>
    <main>
      <div id="news">
        <p>
          June 2023 - Started a position as an AI Research Intern at <a href="https://www.crosslabs.org/">Cross Labs</a>.
        </p>
        <p>
          November 2023 - Started working on a Multimodal LLM project as an Undergraduate Researcher at <a href="https://scai.cs.ucla.edu/">Scalable Analytics Institute</a>.
        </p>
        <p>
          December 2023 - A blog version of the research paper I wrote under Cross Labs is now available on their website. <a href="https://www.crosslabs.org/blog/ai-driven-meditation-personalization-for-inner-peace">AI Driven Meditation: Personalization for Inner Peace</a>
        </p>
      </div>
    </main>
</div>

{% endblock %}