{% extends "layout.html" %}


{% block title %} Open Source {% endblock %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/links.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/open-source.css') }}">
<script src="{{ url_for('static', filename='js/projects.js') }}"></script>
{% endblock %}


{% block body %}

<div class='row top-bottom-padding'>
    <h1 class='center'>Open Source Contributions</h1>
    <div id="center-para">
        <p>
            A list of links to track my open source contributions. The purpose of this page is partly for display, but also just for me to track my PRs across multiple repos. Favorites are highlighted. Enjoy!
        </p>
        <p>
            <strong><a href="https://github.com/ClickHouse/ClickHouse" target="_blank">Clickhouse</a> (C++, SQL)</strong> - A real-time analytics DBMS
        </p>
        <ul>
            <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/71891" target="_blank">PR #71891:</a>
                Bug Fix: Fixed a logical error when users tried to materialize a column in the sort key
            </li>
            <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/71403" target="_blank">PR #71403:</a>
                Feature: Add aliases to avoid weird functions names with mixed casing style (e.g 'anyLast_respect_nullsStateIf')
            </li>
            <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/69657" target="_blank">PR #69657:</a>
                <span class="highlight">Feature:</span> Added a thread-safe feature enabling developers to dynamically filter logs using regular expressions (also Python)
            </li>
            <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/68989" target="_blank">PR #68989:</a>
                <span class="highlight">Feature:</span> Added an arrayUnion() function, providing a more efficient and developer-friendly alterative to the previous workaround
            </li>
            <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/68455" target="_blank">PR #68455:</a>
                Bug Fix: Fixed a bug where TRIM() throws an unexpected exception for a certain edge case
            </li>
            <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/68164" target="_blank">PR #68164:</a>
                Feature: Added a new setting that allows users to set IF NOT EXISTS behavior by default
            </li>
            <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/71774" target="_blank">PR #71774:</a>
                Improvement: Update enable_http_compression setting to make performance improvement more accessible
            </li>
            <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/67334" target="_blank">PR #67334:</a>
                Feature: Added an alias for window functions
            </li>
            <li>
                <a href="https://github.com/ClickHouse/clickhouse-docs/pull/2963" target="_blank">PR #2963</a>,
                <a href="https://github.com/ClickHouse/ClickHouse/pull/72016" target="_blank">PR #72016</a>,
                <a href="https://github.com/ClickHouse/ClickHouse/pull/71779" target="_blank">PR #71779</a>,
                <a href="https://github.com/ClickHouse/ClickHouse/pull/68497" target="_blank">PR #68497</a>
                Doc Fixes: missing links, incorrectly documented setting, and various typos
            </li>
            {# <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/72016" target="_blank">PR #72016:</a>
                Doc Fix: Fix Typos
            </li>
            <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/71779" target="_blank">PR #71779:</a>
                Doc Fix: Fix typo
            </li>
            <li>
                <a href="https://github.com/ClickHouse/ClickHouse/pull/68497" target="_blank">PR #68497:</a>
                Doc Fix. Fixed an incorrectly documented setting
            </li> #}
        </ul>
        <p>
            <strong><a href="https://github.com/open-telemetry/opentelemetry-collector-contrib" target="_blank">OpenTelemetry</a> (Go)</strong> - A collection of APIs, SDKs, and tools used to instrument, generate, collect, and export telemetry data (metrics, logs and traces) to help analyze software performance and behavior
        </p>
        <ul>
            <li>
                <a href="https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/37721" target="_blank">PR #37721:</a>
                <span class="highlight">Feature:</span> Added a more reliable and simpler way to ingest all attributes from cloudflare <a href="https://developers.cloudflare.com/logs/about/" target="_blank">logpush</a>.
            </li>
            <li>
                <a href="https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/38478" target="_blank">PR #38478:</a>
                <span class="highlight">Feature:</span> Migrated the internal Kafka package to the v2 AWS Go SDK</a>.
            </li>
            <li>
                <a href="https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/38479" target="_blank">PR #38479:</a>
                <span class="highlight">Feature:</span> Migrated the AWS ECS receiver to the v2 AWS Go SDK</a>.
            </li>
            <li>
                <a href="https://github.com/open-telemetry/opentelemetry.io/pull/5880" target="_blank">PR #5880:</a>
                Doc Fix: Added a reference link so the docs could be more helpful
            </li>
        </ul>
        <p>
            <strong><a href="https://github.com/Eventual-Inc/Daft" target="_blank">Daft</a> (Rust, Python)</strong> - Distributed data engine written in Rust designed for querying Python/SQL designed in the cloud
        </p>
        <ul>
            <li>
                <a href="https://github.com/Eventual-Inc/Daft/pull/3884" target="_blank">PR #3884:</a>
                Feature: Implemented the cosecant and secant functions.
            </li>
            <li>
                <a href="https://github.com/Eventual-Inc/Daft/pull/3887" target="_blank">PR #3884:</a>
                Feature: Implemented the log1p and expm1 functions.
            </li>
            <li>
                <a href="https://github.com/Eventual-Inc/Daft/pull/3903" target="_blank">PR #3903:</a>
                Feature: Implemented the sinh, cosh, and tanh functions.
            </li>
            <li>
                <a href="https://github.com/Eventual-Inc/Daft/pull/3941" target="_blank">PR #3941:</a>
                Feature: Implemented the sign, signum, negative, and negate functions.
            </li>
        </ul>
        <p>
            <strong><a href="https://github.com/pyg-team/pytorch_geometric" target="_blank">PyTorch Geometric</a> (Python)</strong> - An extension of PyTorch for Graph Neural Networks
        </p>
        <ul>
            <li>
                <a href="https://github.com/pyg-team/pytorch_geometric/pull/9592" target="_blank">PR #9592:</a>
                Feature: A new LineDiGraph transformation module in collaboration in a researcher (in review)
            </li>
        </ul>
        <p>
            <strong><a href="https://github.com/ray-project/ray" target="_blank">Ray</a></strong> - A distributed compute framework for scaling data processing and machine learning workloads
        </p>
        <ul>
            <li>
                <a href="https://github.com/ray-project/ray/pull/47763" target="_blank">PR #47763:</a>
                Fixed issue where some users couldn't install package due to a required dependency
            </li>
            <li>
                <a href="https://github.com/ray-project/ray/pull/46821" target="_blank">PR #46821:</a>
                Clarified documentation to avoid confusion
            </li>
        </ul>
        <p>
            Other Misc Repos
        </p>
        <ul>
            <li>
                Prometheus:
                <a href="https://github.com/prometheus/common/pull/752" target="_blank">PR #752</a>
                Doc fix
            </li>
            <li>
                class website repo:
                <a href="https://github.com/UCLA-CS-131/fall-24-website/pull/1" target="_blank">PR #1</a>
                UX Improvement: Made externals links open in a new tab
            </li>
            <li>
                first-contributions repo:
                <a href="https://github.com/firstcontributions/first-contributions/pull/86857" target="_blank">PR #86857</a>
            </li>
        </ul>
    </div>

<!--https://github.com/lepture/github-cards-->
<!--https://docs.github.com/en/rest/repos?apiVersion=2022-11-28-->
    <!--
    <div class='col projects-list'>
        <a class='project-item transition-link' onclick="scrollToSection('meditation-induction-body')" href="#meditation-induction-ai-body">meditation_induction_ai</a>
    </div>
    <div class='col'>
    <h1 class='center'>GitHub</h1>
        <div class="github-card" data-github="petern48" data-width="400" data-height="" data-theme="medium"></div>
        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    </div>
    <div class='col projects-list'>
        <ul>
            <a class='project-item transition-link' onclick="scrollToSection('bruber-body')" href="#meditation-induction-ai-body">bruber</a>
        </ul>
    </div>
    -->
</div>


{% endblock %}